In [40]:
import pandas as pd
import numpy as np 
from faker import Faker
import random
from datetime import datetime, timedelta

# **Generate Fake Data**

In [41]:
def random_date(start, end):
    return start + timedelta(days=random.randint(0, int((end - start).days)))
np.random.seed(42)
num_records = 10000

loan_ids = np.arange(1, num_records + 1)
disbursement_dates = [random_date(datetime(2020, 1, 1), datetime(2023, 1, 1)) for _ in range(num_records)]
expire_dates = [d + timedelta(days=random.randint(30, 365)) for d in disbursement_dates]

is_employed = np.random.choice([True, False, np.nan], num_records, p=[0.7, 0.25, 0.05])
loan_amounts = np.random.choice([np.nan, *np.random.uniform(1000, 50000, num_records)], num_records)
number_of_defaults = np.random.choice([np.nan, *np.random.randint(0, 10, num_records)], num_records)
outstanding_balances = np.random.choice([np.nan, *np.random.uniform(0, 30000, num_records)], num_records)
interest_rates = np.random.choice([np.nan, *np.random.uniform(0.01, 0.25, num_records)], num_records)
ages = np.random.choice([np.nan, *np.random.randint(18, 65, num_records)], num_records)
remaining_terms = np.random.choice([np.nan, *np.random.randint(1, 60, num_records)], num_records)
salaries = np.random.choice([np.nan, *np.random.uniform(1000, 20000, num_records)], num_records)
loan_statuses = np.random.choice(['Default', 'Non-Default', np.nan], num_records, p=[0.3, 0.65, 0.05])

loan_data = pd.DataFrame({
    'loan_id': loan_ids,
    'disbursement_date': disbursement_dates,
    'expire_date': expire_dates,
    'is_employed': is_employed,
    'loan_amount': loan_amounts,
    'number_of_defaults': number_of_defaults,
    'outstanding_balance': outstanding_balances,
    'interest_rate': interest_rates,
    'age': ages,
    'remaining_term': remaining_terms,
    'salary': salaries,
    'loan_status': loan_statuses
})

In [42]:
loan_data.head(3)

,loan_id,disbursement_date,expire_date,is_employed,loan_amount,number_of_defaults,outstanding_balance,interest_rate,age,remaining_term,salary,loan_status
0,1,2021-08-13,2022-06-28,1.0,29806.398905,4.0,29869.899084,0.112340,38.0,49.0,10442.103846,Non-Default
1,2,2020-06-10,2021-02-06,NaN,28348.573748,5.0,27408.000182,0.128941,30.0,30.0,8779.630547,Non-Default
2,3,2021-08-25,2021-10-29,0.0,25470.384359,2.0,19078.850400,0.224119,63.0,17.0,9925.697326,Non-Default

In [43]:
loan_data.shape

(10000, 12)

# Data Cleanign steps

- Data cleaning is the process of ensuring that data is in the proper format, *making it suitable for analysis and modeling*

### 1.Check missing values

In [44]:
loan_data.isnull().sum()

loan_id                  0
disbursement_date        0
expire_date              0
is_employed            474
loan_amount              1
number_of_defaults       1
outstanding_balance      2
interest_rate            1
age                      1
remaining_term           2
salary                   0
loan_status              0
dtype: int64

In [45]:
def check_missing_values(data:pd.DataFrame)->pd.DataFrame:
     return data.isnull().sum()

In [46]:
check_missing = check_missing_values(data=loan_data)
check_missing

loan_id                  0
disbursement_date        0
expire_date              0
is_employed            474
loan_amount              1
number_of_defaults       1
outstanding_balance      2
interest_rate            1
age                      1
remaining_term           2
salary                   0
loan_status              0
dtype: int64

- As we can see from the data above, there are missing values in the following columns: `is_employed`, `loan_amount`, `number_of_defaults`, `outstanding_balance`, `interest_rate`, `age`, and `remaining_term`.

- We can also return DataFrame with missing values

In [47]:
def check_missing_values(data:pd.DataFrame)->pd.DataFrame:
     return data.loc[data.isnull().any(axis=1)]

In [48]:
missing_values= check_missing_values(loan_data)
missing_values

,loan_id,disbursement_date,expire_date,is_employed,loan_amount,number_of_defaults,outstanding_balance,interest_rate,age,remaining_term,salary,loan_status
1,2,2020-06-10,2021-02-06,NaN,28348.573748,5.0,27408.000182,0.128941,30.0,30.0,8779.630547,Non-Default
11,12,2020-06-25,2021-02-06,NaN,11471.935768,1.0,4842.795849,0.192387,27.0,38.0,5981.078707,Non-Default
34,35,2020-11-10,2021-05-03,NaN,12458.570085,3.0,14616.721703,0.189646,24.0,24.0,8985.982774,Non-Default
50,51,2022-02-11,2022-05-04,NaN,34742.835205,0.0,9980.403155,0.243796,39.0,2.0,19021.746320,Default
69,70,2022-03-28,2022-10-18,NaN,24528.498651,7.0,15711.060298,0.209259,27.0,14.0,3521.346822,Non-Default
...,...,...,...,...,...,...,...,...,...,...,...,...
9851,9852,2021-08-18,2022-06-12,NaN,6735.032652,5.0,26000.942849,0.073461,44.0,59.0,8351.716821,Non-Default
9927,9928,2021-12-24,2022-08-07,NaN,37890.602781,6.0,2531.808990,0.090598,55.0,13.0,16555.449232,nan
9971,9972,2020-11-20,2021-10-07,NaN,15641.350140,9.0,10288.396845,0.160507,36.0,40.0,5218.878111,Non-Default
9972,9973,2022-11-03,2023-04-13,NaN,28699.159038,4.0,12616.283408,0.231205,23.0,32.0,19874.948375,Non-Default
9978,9979,2022-09-18,2022-12-26,NaN,37385.935426,8.0,6335.832926,0.112430,54.0,44.0,7641.380020,Default

- Since we have identified the missing values in our data, we need to apply appropriate methods to fill them.
- Please note, this is fake data. In a real-world situation, you must consult or ask for guidance on how to handle missing values. For example, you cannot impute a missing value like a person's salary without permission from management or your supervisor who assigned the project.

### fill missing values

In [49]:
def fill_missing_values(df):
    df['is_employed'].fillna(df['is_employed'].mode()[0], inplace=True)
    df['loan_amount'].fillna(df['loan_amount'].median(), inplace=True)
    df['number_of_defaults'].fillna(df['number_of_defaults'].median(), inplace=True)
    df['outstanding_balance'].fillna(df['outstanding_balance'].median(), inplace=True)
    df['interest_rate'].fillna(df['interest_rate'].median(), inplace=True)
    df['age'].fillna(df['age'].median(), inplace=True)
    df['remaining_term'].fillna(df['remaining_term'].median(), inplace=True)
    return df

In [50]:
data = loan_data.copy()
data= fill_missing_values(data)

In [51]:
data.isnull().sum()

loan_id                0
disbursement_date      0
expire_date            0
is_employed            0
loan_amount            0
number_of_defaults     0
outstanding_balance    0
interest_rate          0
age                    0
remaining_term         0
salary                 0
loan_status            0
dtype: int64

### Convert dates columns to datetime

In [52]:
def convert_columns_to_datetime(df, date_format='%d/%m/%y'):
    date_columns = df.filter(regex='date').columns
    not_converted = []
    def convert_column(column):
        try:
            return pd.to_datetime(column, format=date_format)
        except Exception:
            not_converted.append(column.name)
            return column  
    df[date_columns] = df[date_columns].apply(convert_column)
    return df, not_converted

In [53]:
data, not_converted =convert_columns_to_datetime(data)

In [54]:
not_converted

[]

In [56]:
data.head()

,loan_id,disbursement_date,expire_date,is_employed,loan_amount,number_of_defaults,outstanding_balance,interest_rate,age,remaining_term,salary,loan_status
0,1,2021-08-13,2022-06-28,1.0,29806.398905,4.0,29869.899084,0.112340,38.0,49.0,10442.103846,Non-Default
1,2,2020-06-10,2021-02-06,1.0,28348.573748,5.0,27408.000182,0.128941,30.0,30.0,8779.630547,Non-Default
2,3,2021-08-25,2021-10-29,0.0,25470.384359,2.0,19078.850400,0.224119,63.0,17.0,9925.697326,Non-Default
3,4,2021-06-11,2021-08-06,1.0,36758.859229,9.0,5269.500606,0.125747,30.0,7.0,16044.997132,Default
4,5,2021-11-03,2022-04-02,1.0,45535.484579,6.0,22912.296526,0.142642,40.0,10.0,16256.662800,Default